
<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title *ngIf="question.id">Edit question</mat-card-title>
      <mat-card-title *ngIf="!question.id">New question</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="fullWidth">
        <!-- <mat-label>Your question</mat-label> -->
        <input
          [(ngModel)]="question.text"
          name="question"
          matInput
          placeholder="Question"
        />
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <!-- <mat-label>Your question</mat-label> -->
        <input
          [(ngModel)]="question.correctAnswer"
          name="correctAnswer"
          matInput
          placeholder="correct Answer"
        />
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <!-- <mat-label>Your question</mat-label> -->
        <input
          [(ngModel)]="question.answer1"
          name="answer1"
          matInput
          placeholder="Wrong Answer 1"
        />
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <!-- <mat-label>Your question</mat-label> -->
        <input
          [(ngModel)]="question.answer2"
          name="answer2"
          matInput
          placeholder="Wrong Answer 2"
        />
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <!-- <mat-label>Your question</mat-label> -->
        <input
          [(ngModel)]="question.answer3"
          name="answer3"
          matInput
          placeholder="Wrong Answer 3"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="null" *ngIf="question.id">SAVE</button>
    <button mat-button (click)="clear()" *ngIf="question.id">NEW</button>

    <button mat-button (click)="post(question)" *ngIf="!question.id">ADD</button>
  </mat-card-actions>
</mat-card>
